@model OnlineTestApp.Domain.Question.Questions

<ul class="list-unstyled">
    @foreach (var option in @Model.LstQuestionOptions.Where(x => x.IsDeleted == false).OrderBy(x => x.DisplayOrder))
    {
        <li>
            <div class="custom-control custom-checkbox">
                <input type="checkbox" id="customCheckbox_@option.FkQuestionId@option.DisplayOrder" name="customCheckbox_@option.FkQuestionId" class="custom-control-input">
                <label class="custom-control-label" for="customCheckbox_@option.FkQuestionId@option.DisplayOrder">@option.QuestionAnswer</label>
            </div>
        </li>
    }

</ul>

