@{
    ViewBag.PageTitle = "Error 404";
}

<div class="container-fluid error-page">
    <div class="row justify-content-center align-items-center">
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-6">
            <h1 class="text-center">Oopss...</h1>
            <h2 class="text-center">This is embarassing, either you tried to access a non existing page, or our server has gone crazy.</h2>
            <p class="text-center"><a href="/">Back To Home</a></p>
        </div>
       
    </div>
</div>

