
@{
    ViewBag.PageTitle = "Unauthorized Access";
    Layout = "~/Views/Shared/MasterPages/AnonymousUserMaster.cshtml";
}

<div class="container-fluid unauthorized-page">
    <div class="row justify-content-center align-items-center">
        <div class="col-xl-6 col-lg-7 col-md-12 col-sm-12">

            <img src="~/Templates/Themes/CommonTheme/Images/unauthorized-error.png" />

            <h1 class="text-center">Unauthorized</h1>
            <h2 class="text-center">
                Access is denied due to invalid credentials.
                You do not have permission to view this directory or page using the credentials that you supplied
            </h2>
            <p class="text-center"><a href="/">Back To Home</a></p>
        </div>
    </div>
</div>




