<appSettings>
  <add key="loginUrl" value="/" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="owin:AutomaticAppStartup" value="true" />
  <add key="EnableOptimizations" value="false" />
  <add key="IsLocal" value="true" />
  <add key="CurrentDomain" value="http://localhost:51489/"/>
 
  <!--elmah starts-->
  <add key="elmah.mvc.disableHandler" value="false" />
  <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
  <add key="elmah.mvc.requiresAuthentication" value="false" />
  <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
  <add key="elmah.mvc.allowedRoles" value="*" />
  <add key="elmah.mvc.allowedUsers" value="*" />
  <add key="elmah.mvc.route" value="elmah" />
  <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
  <!--elmah ends-->

  <!--Email Settings Starts-->
  <add key="Port" value="" />
  <add key="Host" value="" />
  <add key="HasNetworkCredential" value="true" />
  <add key="EnableSsl" value="false" />
  <add key="NetworkCredential_UserName" value="" />
  <add key="NetworkCredential_Password" value="" />
  <add key="CanSendEmail" value="false" />
  <add key="EmailFromName" value="" />
  <add key="EmailFromEmailAddress" value="" />
  <!--Email Settings Ends-->

  <!--Password Settings Starts-->
  <add key="PasswordPassPhrase" value="854EEAE6-C406-40C9-AC10-C06882EC0505" />
  <add key="PasswordIterations" value="123456" />
  <add key="PasswordInitVector" value="~1A3^9@2[]9U*f0i7" />

  <!--Password Settings Ends-->

  <!--Page size Settings Starts-->
  <add key="MaximumPageSize" value="4" />
  <!--<add key="CanShowTopPage" value="50" />-->

  <!--Page size Settings Ends-->

  <!--Page Heading Settings Starts-->
  <add key="PageHeadingPrefix" value="" />

  <!--Page Heading Settings Ends-->

  <!--Error Page Settings Starts-->
  <add key="Error404PageUrl" value="~/Error/Error404" />
  <add key="UnauthorizedPageUrl" value="~/Error/Unauthorized"/>

  <!--Error Page Settings Ends-->

  <!--Number of Test Question Sets Starts-->
  <add key="NumberOfQuestionSets" value="4" />

  <!--Number of Test Question Sets Ends-->

  <!--Send Email Settings Starts-->
  <add key="EmailFromName" value="" />
  <add key="EmailFromEmailAddress" value="testuser@gmail.com" />
  <!--Send Email Settings  Ends-->



  
  
</appSettings>