@model OnlineTestApp.ViewModel.Test.AddNewTestViewModel

<div class="tab-border">
    <h5>Question Paper</h5>
    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
</div>
<div class="form-group">
    @Html.TextBoxFor(m => m.TestDetails.TestTitle, new { placeholder = "Enter Your Title" })
    @Html.ValidationMessageFor(m => m.TestDetails.TestTitle)

</div>
<div class="form-group">
    @Html.TextAreaFor(m => m.TestDetails.TestIntroductoryText, new { placeholder = "Enter Your Description" })
    @*@Html.HiddenFor(m => m.TestDetails.ValidUpTo)*@
    @Html.ValidationMessageFor(m => m.TestDetails.TestIntroductoryText)
</div>
<div class="form-group">
    <button class="btn btn-success" type="button" onclick="GetStep4Data()">Proceed</button>
</div>
