
@section PageHeading
 {
    Manage Test
}
@section PageSubHeading
{
    Add New Test
}
@section PageBreadCrum
 {
    <li><a href="/test/viewtests">Manage Test</a></li>
    <li class="active"> Add New Test</li>
}



<div class="tab-test">
    <div class="tab-section tab-last-active" id="step4Tab">
        <div class="tab-test-container invite-candidate">
            <a class="nav-tab noclick" data-step="4" href="javascript:void(0)">
                <i class="fas fa-user"></i>
                Invite Candidate 4
            </a>
            <div class="tab-active-bg">
                <div class="tab-content form-white">
                    <div id="step4">
                        <div class="tab-border">
                            <h5>Invite Candidate</h5>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Enter Your Email" />
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Enter Your Email Subject" />

                        </div>
                        <div class="form-group">
                            <textarea placeholder="Enter Your Description"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success">Click Here to Submit</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="tab-section" id="step3Tab">
        <div class="tab-test-container Question-paper">
            <a class="nav-tab" data-step="3" href="javascript:void(0)">
                <i class="fas fa-users"></i>
                Question Paper 3
            </a>
            <div class="tab-active-bg">
                <div class="tab-content">
                    <div id="step3">
                        <div class="tab-border">
                            <h5>Question Paper</h5>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Enter Your Title" />
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Enter Your Description"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success">Click Here to Submit</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="tab-section" id="step2Tab">
        <div class="tab-test-container select-paper">
            <a class="nav-tab" data-step="2" href="javascript:void(0)">
                <i class="fas fa-file-alt"></i>
                Select Test Paper 2
            </a>
            <div class="tab-active-bg">
                <div class="tab-content">
                    <div id="step2">
                        <div class="tab-border">
                            <h5>Select Test Paper</h5>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                        <div class="row justify-content-md-center paper-row">
                            <div class="col">
                                <div class="time-paper">
                                    <b>50</b><br /> Minute
                                </div>
                                <div class="paper-box selected">

                                    <div class="file-numbering">
                                        <span>1</span>
                                    </div>
                                    <a href="javascript:void(0)" class="paper-preview">LIVE PREVIEW</a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="time-paper">
                                    <b>30</b><br /> Minute
                                </div>
                                <div class="paper-box">
                                    <div class="file-numbering">
                                        <span>2</span>
                                    </div>
                                    <a href="javascript:void(0)" class="paper-preview">LIVE PREVIEW</a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="time-paper">
                                    <b>01:00</b><br />Hours
                                </div>
                                <div class="paper-box">

                                    <div class="file-numbering">
                                        <span>3</span>
                                    </div>
                                    <a href="javascript:void(0)" class="paper-preview">LIVE PREVIEW</a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="time-paper">
                                    <b>01:30</b><br /> Hours
                                </div>
                                <div class="paper-box">

                                    <div class="file-numbering">
                                        <span>4</span>
                                    </div>
                                    <a href="javascript:void(0)" class="paper-preview">LIVE PREVIEW</a>
                                </div>
                            </div>
                        </div>
                        <p class="text-center">
                            <button class="btn btn-primary">Click Here to Submit</button>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="tab-section" id="step1Tab">
        <div class="tab-test-container candidate-test">
            <a class="nav-tab" data-step="1" href="javascript:void(0)">
                <i class="fas fa-users"></i>
                Eligible Candidate Test 1
            </a>
            <div class="tab-active-bg">
                <div class="tab-content form-white">
                    <div id="step1">
                        <div class="tab-border">
                            <h5>Eligible Candidate Test</h5>
                            <p>Lorem Ipsum has been the industry's standard dummy text ever since the 500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                        <div class="form-group">
                            <select data-val="true" data-val-required="Enter Your Technologies" id="QuestionLevel" name="QuestionLevel" style="display: none;">
                                <option value="90028bb8-8629-4c08-9e23-60b708ff76be">Jk,L</option>
                                <option value="7bc783d4-df33-49a3-a87b-662da71b4c14">87979</option>
                                <option value="30442808-30e2-47c9-b7d8-6886e43bc941">Yj</option>
                                <option value="838341ac-3f3f-4f4e-bd30-6b3b84545627">7998</option>
                                <option value="cc3f9d1e-6ba0-4fe3-b266-6f82cdc67634">;Ol;.Joloi</option>
                                <option value="21f98bdf-485c-4377-9b1b-76bdf9ec1c21">Uyikyk</option>
                                <option value="1a1e59f0-5cc3-4956-977a-b3b0052dbd53">Nhyjuyj</option>
                                <option value="a09578f5-1143-45f4-8009-bf2efdcd64d9">I.Olooi;</option>
                                <option value="cda1dd31-cf1d-42c8-b57c-cb40c5f3c840">1R55</option>
                                <option value="d41d65c3-8905-4def-b7ee-d003b9f1003d">546</option>
                                <option value="2123a448-86c0-495c-84ad-d5ae2d532dd0">Ioli;Oi;/</option>
                                <option value="34069503-a568-490c-9c9b-d714fc5c435f">Ukuliu</option>
                                <option value="61c82a6b-579e-42cf-9985-e3a8eb758d76">98879</option>
                                <option value="dd9f790a-2b1f-4cf0-ab4d-e4ce8bb9892f">Il............</option>
                                <option value="814ab16e-568e-44a3-b80a-e969a8b0c307">Hnjhnj</option>
                                <option value="03182f26-9bf1-4ae1-8193-2f19ae0398bb">97898</option>
                                <option value="bbbdcc76-56fd-48ab-867c-343ae022f1a3">Thhf</option>
                                <option value="68566278-301b-4d68-b670-46dde14ac3d3">Yjuj</option>
                                <option value="3eecb30f-aae8-4c5f-b48e-4960bf6e014f">Loij;</option>
                                <option value="ef2c9da0-9433-4274-99bf-4a124c0d8fa4">Oiul.</option>
                                <option value="1b582ccf-4245-4566-a80e-4d98b86b5ddb">Hbfnjhn</option>
                                <option value="f5683288-a800-4b6a-a1ab-4f23e1ee3755">1</option>
                                <option value="09b174d6-0c8e-4a9c-b2ce-77fbe6357c06">Short Answer Questions</option>
                                <option value="39588873-b2e5-4381-8421-a1c0292bd8f4">Multiple-Choice Questions</option>
                                <option value="56a7946c-604e-4f44-98e1-f41b5e585254">Multiple Response</option>
                                <option value="348e295f-9f87-4c74-a1b2-5d314d909141">Matching Questions</option>
                                <option value="bbbaaaee-5100-400c-b139-4aaa39a1094c">Fill-In-The-Blank</option>
                                <option value="b0deb9d9-1590-445e-b0cf-03dcac7648c2">True/False</option>
                            </select>
                            <span class="field-validation-error" data-valmsg-for="QuestionTechnology" data-valmsg-replace="true">Please select technology</span>
                        </div>
                        <div class="form-group">
                            <select data-val="true" data-val-required="Enter Your level" id="QuestionLevel" name="QuestionLevel" style="display: none;">
                                <option value="90028bb8-8629-4c08-9e23-60b708ff76be">Jk,L</option>
                                <option value="7bc783d4-df33-49a3-a87b-662da71b4c14">87979</option>
                                <option value="30442808-30e2-47c9-b7d8-6886e43bc941">Yj</option>
                                <option value="838341ac-3f3f-4f4e-bd30-6b3b84545627">7998</option>
                                <option value="cc3f9d1e-6ba0-4fe3-b266-6f82cdc67634">;Ol;.Joloi</option>
                                <option value="21f98bdf-485c-4377-9b1b-76bdf9ec1c21">Uyikyk</option>
                                <option value="1a1e59f0-5cc3-4956-977a-b3b0052dbd53">Nhyjuyj</option>
                                <option value="a09578f5-1143-45f4-8009-bf2efdcd64d9">I.Olooi;</option>
                                <option value="cda1dd31-cf1d-42c8-b57c-cb40c5f3c840">1R55</option>
                                <option value="d41d65c3-8905-4def-b7ee-d003b9f1003d">546</option>
                                <option value="2123a448-86c0-495c-84ad-d5ae2d532dd0">Ioli;Oi;/</option>
                                <option value="34069503-a568-490c-9c9b-d714fc5c435f">Ukuliu</option>
                                <option value="61c82a6b-579e-42cf-9985-e3a8eb758d76">98879</option>
                                <option value="dd9f790a-2b1f-4cf0-ab4d-e4ce8bb9892f">Il............</option>
                                <option value="814ab16e-568e-44a3-b80a-e969a8b0c307">Hnjhnj</option>
                                <option value="03182f26-9bf1-4ae1-8193-2f19ae0398bb">97898</option>
                                <option value="bbbdcc76-56fd-48ab-867c-343ae022f1a3">Thhf</option>
                                <option value="68566278-301b-4d68-b670-46dde14ac3d3">Yjuj</option>
                                <option value="3eecb30f-aae8-4c5f-b48e-4960bf6e014f">Loij;</option>
                                <option value="ef2c9da0-9433-4274-99bf-4a124c0d8fa4">Oiul.</option>
                                <option value="1b582ccf-4245-4566-a80e-4d98b86b5ddb">Hbfnjhn</option>
                                <option value="f5683288-a800-4b6a-a1ab-4f23e1ee3755">1</option>
                                <option value="09b174d6-0c8e-4a9c-b2ce-77fbe6357c06">Short Answer Questions</option>
                                <option value="39588873-b2e5-4381-8421-a1c0292bd8f4">Multiple-Choice Questions</option>
                                <option value="56a7946c-604e-4f44-98e1-f41b5e585254">Multiple Response</option>
                                <option value="348e295f-9f87-4c74-a1b2-5d314d909141">Matching Questions</option>
                                <option value="bbbaaaee-5100-400c-b139-4aaa39a1094c">Fill-In-The-Blank</option>
                                <option value="b0deb9d9-1590-445e-b0cf-03dcac7648c2">True/False</option>
                            </select>
                            <span class="field-validation-error" data-valmsg-for="QuestionTechnology" data-valmsg-replace="true">Please select technology</span>
                        </div>
                        <div class="form-group">
                            <input type="text" placeholder="Enter Max Score" />
                        </div>
                        <div class="form-group">
                            <span class="custom-control custom-checkbox d-inline-block">
                                <input class="custom-control-input" id="Questions_CanSkipQuestion" type="checkbox">
                                <label class="custom-control-label" for="Questions_CanSkipQuestion">It is a long established fact that a reader will be distracted</label>
                            </span>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-light">Click Here to Submit</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


@section pageFooterResources
{
    <script>
        $(document).ready(function () {
            $(".nav-tab").not(".noclick").click(function () {

                var id = parseInt($(this).data("step"));
                if ($(this).parents('.tab-section').hasClass('tab-active')) {
                    for (var i = id; i <= 3; i++) {
                        $("#step" + i + "Tab").removeClass("tab-active"/*, { direction: 'right' }, 1400*/);
                        $("#step" + i + "Tab").find(".tab-content").show(/*'slide', { direction: 'right' }, 1400*/);
                    }
                }
                else {
                    
                    $(this).parents(".tab-section").addClass("tab-active");
                    $(this).next(".tab-active-bg").find(".tab-content").hide(/*'slide', { direction: 'right' }, 1400*/);
                };
            });

            
        });
    </script>


    @*<script>
            $(document).ready(function () {
                $(".tab-test-container .nav-tab").click(function () {
                    $(this).next(".tab-content").animate({
                        width: "toggle"
                    });

                    if ($('.tab-content').css('display') == 'none') {
                        jQuery('.nav-tab').parent('.tab-test-container').addClass('active')
                    }
                    else {
                        jQuery('.nav-tab').parent('.tab-test-container').removeClass('active')
                    }
                });


            });
        </script>*@
} 