<aside class="col-xl-2 col-lg-3 col-md-4 col-sm-12 col-12 left-side">
    <div class="top-heading">
        <h3>      Eligible Test </h3>
    </div>

    <div class="left-panel text-center text-white">

        <img src="~/Template/Candidate/images/user-test-icon.png" alt="test-icon" style="margin-left:0px;" />
        <h3>What do you know about test ?</h3>
        <ul class="list-unstyled test-detail-list">
            <li> - This is a short sample test</li>
            <li>- There are 40 questions and most are worth 10 points each.</li>
            <li>- There is a two hours time limit.</li>
            <li>- When you click the Start button the test will begin.</li>
            <li> - Do your best to answer each question correctly. Good Luck!</li>
        </ul>

    </div>
</aside>