




<aside class="col-xl-2 col-lg-3 col-md-4 col-sm-12 col-12 left-side">
    <div class="top-heading">
        <h3>Eligible Test </h3>
    </div>

    <div class="left-panel text-center text-white">
        <img src="~/Template/Candidate/images/online-test-icon.png" />

        <h3>Online Test for interview</h3>
        <p> Begin your revision for competitive interview. Choose your skills/technology, and start online test.</p>

    </div>
</aside>
