<appSettings>
  <add key="loginUrl" value="/" />
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="owin:AutomaticAppStartup" value="true" />
  <add key="EnableOptimizations" value="false" />
  <add key="IsLocal" value="true" />
  <add key="CurrentDomain" value="http://localhost:51489/"/>
 
  <!--elmah starts-->
  <add key="elmah.mvc.disableHandler" value="false" />
  <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
  <add key="elmah.mvc.requiresAuthentication" value="false" />
  <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
  <add key="elmah.mvc.allowedRoles" value="*" />
  <add key="elmah.mvc.allowedUsers" value="*" />
  <add key="elmah.mvc.route" value="elmah" />
  <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
  <!--elmah ends-->
  <!--Send Email Settings Starts-->
  <add key="Port" value="25" />
  <add key="Host" value="smtpout.secureserver.net" />
  <add key="HasNetworkCredential" value="true" />
  <add key="EnableSsl" value="false" />
  <add key="NetworkCredential_UserName" value="noreply@essorsolutions.net" />
  <add key="NetworkCredential_Password" value="noreply@essorsolutions.net" />
  <add key="CanSendEmail" value="true" />
  <add key="EmailFrom" value="noreply@essorsolutions.net" />
  <!-- For Testing -->
  <add key="ToEmail" value="sunil.kumar@essorsolutions.net" />

  
  <!--Send Email Settings  Ends-->
  <!--Password Settings Starts-->
  <add key="PasswordPassPhrase" value="854EEAE6-C406-40C9-AC10-C06882EC0505" />
  <add key="PasswordIterations" value="123456" />
  <add key="PasswordInitVector" value="~1A3^9@2[]9U*f0i7" />

  <!--Password Settings Ends-->

  <!--Page size Settings Starts-->
  <add key="MaximumPageSize" value="4" />
  <!--<add key="CanShowTopPage" value="50" />-->

  <!--Page size Settings Ends-->

  <!--Page Heading Settings Starts-->
  <add key="PageHeadingPrefix" value="" />

  <!--Page Heading Settings Ends-->

  <!--Error Page Settings Starts-->
  <add key="Error404PageUrl" value="~/Account/Login" />
  <add key="UnauthorizedPageUrl" value="~/Account/Login"/>
  <add key="LoginPageUrl" value="~/Account/Login"/>
  <!--Error Page Settings Ends-->

  <!--Number of Test Question Sets Starts-->
  <add key="NumberOfQuestionSets" value="4" />

  <add key="PassingPercentage" value="40" />

  <!--Number of Test Question Sets Ends-->  
</appSettings>