@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CompanyMaster.cshtml";
}


<h3> Dashboard: </h3>

<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <img src="~/Template/Company/images/project-detail-graph.png" class="img-fluid"/>
        @*<div class="card graph-card">
                <div class="card-graph-header">
                <h3>Project Details Report</h3>
             </div>
                <div id="DetailsReport" style="width:100%; height: 400px; margin: 0 auto"></div>
                <p>3.7% change from yesterday</p>
            </div>*@
    </div>


    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <img src="~/Template/Company/images/site-access-report.png" class="img-fluid"/>
        @*<div class="card graph-card pie-graph">
            <div class="row">
                <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
                    <h2>90.56%</h2>
                    <h4>Site Access Report</h4>
                    <ul class="list-unstyled">
                        <li class="list-inline-item"><span style="background-color:#A9FF96;"></span> Cardano 32%</li>
                        <li class="list-inline-item"><span style="background-color:#DE8A43;"></span> Cardano 15%</li>
                        <li class="list-inline-item"><span style="background-color:#95CEFF;"></span> Cardano 19%</li>
                        <li class="list-inline-item"><span style="background-color:#5C5C61;"></span> Cardano 32%</li>
                    </ul>
                    <p>2.5% change from yesterday</p>
                </div>
                <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12">
                    <div id="SiteAccess" style="height: 400px"></div>

                </div>
            </div>
        </div>*@
    </div>
</div>