<div class="top-breadcrumb">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <p>Online Java Programming Test :: <a href="javascript:void(0)">Java Programming Test - Random</a></p>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <h4><i class="fa fa-clock-o" aria-hidden="true"></i> <span>00:20:15 / 01:00:00</span></h4>
        </div>
    </div>
</div>
